<!DOCTYPE html>
<html>
  <head>
    {{> head }}
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <div class="block">
      {{{block "left"}}}
    </div>
  </body>
</html>
